body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #777;
    background-image: url("../images/lilypads.png");
    margin-bottom: 60px;
    padding: 0;
    width: 100%;
}

.navbar {
    border-bottom: 2px solid #ccc;
    padding: 0;
}

.navbar-brand {
    color: #fff!important;
}

.navbar-img {
    width: 250px;
    height: 80px;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.border-ccc {
    border: 2px solid #ccc;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #666;
    border-top: 8px solid #4aaaa5;

}

.no-padding {
    padding-left: 0;
}

.card-img-banner {
    position: absolute;
    bottom: 20px;
    background-color: #4aaaa5;
    width: 100%;
}

.card-title {
    margin-top: .75rem;
}

h1 {
    color: #4aaaa5;
}


/*styles for contact form*/
input,
textarea {
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #777;
    margin: 10px 0;
}

#name,
#email,
#msg {
    width: 100%;
    font-size: 16px;
}

#msg {
    height: 200px;
}

#submit {
    background-color: #4aaaa5;
    color: #fff;
    font-size: 16px;
    padding: 12px 30px;
    box-sizing: content-box;
}

html {
    position: relative;
    min-height: 100%;
}


